.six.columns.centered
  .signin-content-box
    %h3 Sign in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        .field
          = f.input :email, required: false, autofocus: true
        .field
          = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

      .form-actions
        .medium.primary.btn.u-full-width
          = f.button :submit, "Sign in"
