.six.columns.centered
  .form-content-box
    %h3
      Edit #{resource_name.to_s.humanize}
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        .field 
          = f.input :email, required: true, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .field 
          = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
        .field 
          = f.input :password_confirmation, required: false
        .field 
          = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
        .field 
          = f.input :franchise, required: true, autofocus: true
        .field 
          = f.input :league, required: true, autofocus: true
      
      .form-actions
        .medium.danger.btn
          = f.button :submit, "Update"

  .cancel-account        
    %h3 Cancel my account
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
