.push_three.three.columns
  %h5
    Player

  = form_tag session_path(:user) do
    .field
      = text_field_tag 'user[email]', nil, class: 'input'
    .field
      = password_field_tag 'user[password]', nil, class: 'input'
    = check_box_tag 'user[remember_me]'
    = label_tag 'user[remember_me]', 'Remember me', class: "remember-me"

    .medium.primary.btn.u-full-width
      %button
        Sign in
    = link_to "Forgot your password?", new_password_path(:user), class: "forgot"

  %p
    %span.or-Seperator OR

  %p
    .medium.default.btn
      = link_to "Sign up as a player", player_sign_up_path

.three.columns
  %h5
    Manager

  = form_tag session_path(:admin_user) do
    .field
      = text_field_tag 'admin_user[email]', nil, class: 'input'
    .field
      = password_field_tag 'admin_user[password]', nil, class: 'input'
    = check_box_tag 'admin_user[remember_me]'
    = label_tag 'admin_user[remember_me]', 'Remember me', class: "remember-me"
    
    .medium.danger.btn.u-full-width
      %button
        Sign in
    = link_to "Forgot your password?", new_password_path(:admin_user), class: "forgot"

  %p
    %span.or-Seperator OR

  %p
    .medium.default.btn
      = link_to "Sign up as a manager", manager_sign_up_path
