!!!
%html
  %head
    %title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  
    %p.notice= notice
    %p.alert= alert

    %ul 
      -if user_signed_in?
        %li
          = link_to "Edit Profile", edit_user_registration_path
      - if admin_user_signed_in?
        %li
          = link_to "Home", admin_users_index_path
        %li
          = link_to "Edit Profile", edit_admin_user_registration_path

      - if signed_in?
        %li
          = link_to "logout", destroy_user_session_path, method: :delete
    .joe

    = yield
