%h2 Sign up Player
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :first_name, required: true, autofocus: true
    = f.input :last_name, required: true, autofocus: true

    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true

    = f.input :city, required: true, autofocus: true
    = f.input :state, required: true, autofocus: true, collection: State.all
    = f.input :zip, required: true, autofocus: true

    = f.input :phone, required: true, autofocus: true

    = f.input :birthdate, required: true, autofocus: true
    
    = f.input :age_group, required: true, autofocus: true, collection: AgeGroup.all

    = f.input :primary_position, required: true, autofocus: true, collection: Position.all
    = f.input :secondary_position, required: true, autofocus: true, collection: Position.all

    = f.input :bats, required: true, autofocus: true, collection: BatsThrows.all
    = f.input :throws, required: true, autofocus: true, collection: BatsThrows.all

    = f.input :playing_experience, required: true, autofocus: true

    = f.input :last_played, required: true, autofocus: true

  .form-actions
    = f.button :submit, "Sign up"
= render "users/shared/links"
